In [1]:
!pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [2]:
import pandas as pd
import xlrd
import numpy as np
import datetime as dt
from pandas._libs.tslibs.timestamps import Timestamp

##Sales of oil derivative fuels by UF and product

In [3]:
# Buscando os dados da primeira tabela
df_comb_uf_prod = pd.read_excel('vendas-combustiveis-m3.xls',
                                sheet_name = 'SourceDataUFByProd',
                                nrows = 4537,
                                usecols = 'A:Q'
                                )

In [4]:
# Convertendo os meses em linhas
df_comb_uf_prod2 = pd.melt(df_comb_uf_prod,
                           id_vars=['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'UNIDADE'],
                           var_name='mes',
                           value_name='volume'
                           )

In [5]:
# Alterando os nomes do mês para números
de_para = {'Jan':1, 'Fev':2,'Mar':3, 'Abr':4, 'Mai':5, 'Jun':6, 'Jul':7, 'Ago':8, 'Set':9, 'Out':10, 'Nov':11, 'Dez':12}

numberMonth = []
for mes in df_comb_uf_prod2['mes']:
    numberMonth.append(de_para.get(mes))

df_comb_uf_prod2['numberOfMonth'] = np.array(numberMonth)

In [6]:
# Concatenando as colunas de ano e mês
df_comb_uf_prod2['year_month'] = pd.to_datetime(df_comb_uf_prod2['ANO'].map(str) + '/' + df_comb_uf_prod2['numberOfMonth'].map(str)).dt.to_period('M')

In [7]:
# Adicionando coluna created_at
df_comb_uf_prod2['created_at'] = Timestamp.now()

In [8]:
# Deletando as colunas não utilizadas
del df_comb_uf_prod2['mes']
del df_comb_uf_prod2['REGIÃO']
del df_comb_uf_prod2['ANO']

In [9]:
# Renomando as colunas
df_comb_uf_prod2 = df_comb_uf_prod2.rename(columns = {'COMBUSTÍVEL':'product', 'ESTADO':'uf', 'UNIDADE':'unit'})

In [10]:
# Alterando os tipos de dados
df_comb_uf_prod2 = df_comb_uf_prod2.astype({'uf': str, 'product': str, 'unit': str, 'volume': float})

In [11]:
# Reordenando as colunas
df_comb_uf_prod2 = df_comb_uf_prod2[['year_month', 'uf', 'product', 'unit', 'volume', 'created_at']]

In [12]:
# Visualização dos dados
display(df_comb_uf_prod2)

,year_month,uf,product,unit,volume,created_at
0,2000-01,RONDÔNIA,GASOLINA C (m3),m3,9563.263,2022-06-09 12:47:26.692480
1,2000-01,ACRE,GASOLINA C (m3),m3,3065.758,2022-06-09 12:47:26.692480
2,2000-01,AMAZONAS,GASOLINA C (m3),m3,17615.604,2022-06-09 12:47:26.692480
3,2000-01,RORAIMA,GASOLINA C (m3),m3,3259.300,2022-06-09 12:47:26.692480
4,2000-01,PARÁ,GASOLINA C (m3),m3,28830.479,2022-06-09 12:47:26.692480
...,...,...,...,...,...,...
54427,2020-12,RIO GRANDE DO SUL,GLP (m3),m3,NaN,2022-06-09 12:47:26.692480
54428,2020-12,MATO GROSSO DO SUL,GLP (m3),m3,NaN,2022-06-09 12:47:26.692480
54429,2020-12,MATO GROSSO,GLP (m3),m3,NaN,2022-06-09 12:47:26.692480
54430,2020-12,GOIÁS,GLP (m3),m3,NaN,2022-06-09 12:47:26.692480
54431,2020-12,DISTRITO FEDERAL,GLP (m3),m3,NaN,2022-06-09 12:47:26.692480

In [25]:
# Verificação dos resultados
df_comb_uf_prod2.loc[df_comb_uf_prod2['year_month'] == '2008-06', 'volume'].sum()

8798585.930695653

##Sales of diesel by UF and type

In [51]:
df_diesel_uf_tipo = pd.read_excel('vendas-combustiveis-m3.xls',
                                  sheet_name = 'SourceDataUFByType',
                                  nrows = 1081,
                                  usecols = 'A:Q'
                                  )

In [52]:
# Convertendo os meses em linhas
df_diesel_uf_tipo2 = pd.melt(df_diesel_uf_tipo,
                            id_vars=['COMBUSTÍVEL', 'ANO', 'REGIÃO', 'ESTADO', 'UNIDADE'],
                            var_name='mes',
                            value_name='volume'
                            )

In [53]:
# Alterando os nomes do mês para números
de_para = {'Jan':1, 'Fev':2,'Mar':3, 'Abr':4, 'Mai':5, 'Jun':6, 'Jul':7, 'Ago':8, 'Set':9, 'Out':10, 'Nov':11, 'Dez':12}

numberMonth = []
for mes in df_diesel_uf_tipo2['mes']:
    numberMonth.append(de_para.get(mes))

df_diesel_uf_tipo2['numberOfMonth'] = np.array(numberMonth)

In [54]:
# Concatenando as colunas de ano e mês
df_diesel_uf_tipo2['year_month'] = pd.to_datetime(df_diesel_uf_tipo2['ANO'].map(str) + '/' + df_diesel_uf_tipo2['numberOfMonth'].map(str)).dt.to_period('M')

In [55]:
# Adicionando coluna created_at
df_diesel_uf_tipo2['created_at'] = Timestamp.now()

In [56]:
# Deletando as colunas não utilizadas
del df_diesel_uf_tipo2['mes']
del df_diesel_uf_tipo2['REGIÃO']
del df_diesel_uf_tipo2['ANO']

In [57]:
# Renomando as colunas
df_diesel_uf_tipo2 = df_diesel_uf_tipo2.rename(columns = {'COMBUSTÍVEL':'product', 'ESTADO':'uf', 'UNIDADE':'unit'})

In [58]:
# Alterando os tipos de dados
df_diesel_uf_tipo2 = df_diesel_uf_tipo2.astype({'uf': str, 'product': str, 'unit': str, 'volume': float})

In [59]:
# Reordenando as colunas
df_diesel_uf_tipo2 = df_diesel_uf_tipo2[['year_month', 'uf', 'product', 'unit', 'volume', 'created_at']]

In [60]:
# Visualização dos dados
display(df_diesel_uf_tipo2)

,year_month,uf,product,unit,volume,created_at
0,2013-01,RONDÔNIA,ÓLEO DIESEL S-10 (m3),m3,3517.600,2022-06-09 13:38:51.164231
1,2013-01,ACRE,ÓLEO DIESEL S-10 (m3),m3,363.000,2022-06-09 13:38:51.164231
2,2013-01,AMAZONAS,ÓLEO DIESEL S-10 (m3),m3,3190.585,2022-06-09 13:38:51.164231
3,2013-01,RORAIMA,ÓLEO DIESEL S-10 (m3),m3,795.400,2022-06-09 13:38:51.164231
4,2013-01,PARÁ,ÓLEO DIESEL S-10 (m3),m3,30137.800,2022-06-09 13:38:51.164231
...,...,...,...,...,...,...
12955,2020-12,RIO GRANDE DO SUL,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2022-06-09 13:38:51.164231
12956,2020-12,MATO GROSSO DO SUL,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2022-06-09 13:38:51.164231
12957,2020-12,MATO GROSSO,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2022-06-09 13:38:51.164231
12958,2020-12,GOIÁS,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2022-06-09 13:38:51.164231
12959,2020-12,DISTRITO FEDERAL,ÓLEO DIESEL (OUTROS ) (m3),m3,NaN,2022-06-09 13:38:51.164231

In [61]:
# Verificação dos resultados
df_diesel_uf_tipo2.loc[df_diesel_uf_tipo2['year_month'] == '2016-06', 'volume'].sum()

4616496.481000001